<form class="product-form__form"
      (keydown.enter)="onEnterClick($event)"
      [formGroup]="productForm"
      novalidate>
  <mat-form-field class="product-form__field">
    <input matInput
           #nameInput
           placeholder="Product name"
           formControlName="name"
           myAutoFocus="200"
           required>
    <mat-icon matSuffix class="product-form__icon">shopping_basket</mat-icon>
    <mat-error *ngIf="productForm.controls['name'].touched && productForm.controls['name'].invalid">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="product-form__field">
    <input matInput
           placeholder="Price"
           type="number"
           formControlName="price"
           required>
    <mat-icon matSuffix class="product-form__icon">monetization_on</mat-icon>
    <mat-error *ngIf="productForm.controls['price'].invalid">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="product-form__field">
    <textarea matInput
              placeholder="Description"
              formControlName="description"></textarea>
    <mat-icon matSuffix class="product-form__icon">info</mat-icon>
  </mat-form-field>

  <div *ngIf="isEditForm">
    <div *ngIf="isExpirationDateEnabled">
      <mat-form-field>
        <input matInput
               [matDatepicker]="picker"
               placeholder="Choose a date"
               formControlName="expirationDate"
               [min]="expirationDateStart">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker
          [startAt]="expirationDateStart"
        ></mat-datepicker>

      </mat-form-field>
    </div>
    <mat-checkbox (change)="onExpirationDateToggle($event)" [checked]="false">Product may expire</mat-checkbox>
  </div>

  <div class="product-form__buttons-group">
    <button mat-raised-button
            type="submit"
            color="primary"
            (click)="onSubmitClick()"
            [disabled]="productForm.invalid"
            class="list__add-button">
      <mat-icon>{{ submitButtonIcon }}</mat-icon>
      {{ submitButtonText }}
    </button>
    <button type="reset"
            [disabled]="productForm.pristine"
            mat-raised-button
            (click)="onResetClick()">
      <mat-icon>clear</mat-icon>
      Reset
    </button>
    <button type="button"
            mat-raised-button
            (click)="onBackClick()">
      <mat-icon>undo</mat-icon>
      Back
    </button>
  </div>
</form>
